div.follow {
  display: inline-flex;
  flex-direction: column;
  padding: 2rem 1rem;
  margin: 0.5rem;
  border: 1px solid #d8f3e0;
  width: 15rem;
  border-radius: 1rem;
}

div.follow.clickable {
  cursor: pointer;
}

div.follow.selected {
  border: 1px solid #0055ff;
  background: #0055ff;
}

div.follow.succeeded {
  border: 1px solid #1aa34a;
  background: #1aa34a;
}

div.follow.failed {
  border: 1px solid #ee0000;
  background: #ee0000;
}

div.follow div.avatar img {
  height: 10rem;
  width: 10rem;
}

div.follow h3.name {
  text-align: center;
  margin-bottom: 0;
}

div.follow div.description {
  border-top: 1px solid #d8f3e0;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
}

div.follow a.follow-link{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

div.follow a.follow-link img.spotify-link-logo {
  display: inline-block;
  padding-left: 0.5rem;
  height: 2rem;
}
