div.artist {
  display: inline-flex;
  flex-direction: column;
  padding: 2rem 1rem;
  margin: 0.5rem;
  border: 1px solid #d8f3e0;
  cursor: pointer;
}

div.artist.selected {
  border: 1px solid #121212;
  background: #0055ff;
}

div.artist div.avatar img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}

div.artist h3.name {
  text-align: center;
  margin-bottom: 0;
}
