div.unfollow-artists-list div.results-table {
  display: flex;
}

div.unfollow-artists-list div.results-table div.results-table-options {
  flex-grow: 1;
}

div.unfollow-artists-list div.results-table div.results-view {
  padding-left: 1rem;
  margin-left: 1rem;
  border-left: 1px solid #d8f3e0;
  width: 85%;
}

div.unfollow-artists-list div.results-table div.results-view div.pagination {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  div.unfollow-artists-list div.results-table {
    display: block;
  }

  div.unfollow-artists-list div.results-table div.results-view {
    padding-left: 0;
    margin-left: 0;
    border-left: none;
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: 1px solid #d8f3e0;
    width: 100%;
  }
}
